export GREP_OPTIONS="--color=auto"
export EDITOR="nano"

#NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

#FLUTTER
export PATH="$PATH:/opt/tools/flutter/bin"

#GEM
export GEM_HOME=$HOME/.gem
export PATH=$GEM_HOME/bin:$PATH
